In [57]:
import sqlite3

# Create a SQL connection to our SQLite database
con = sqlite3.connect("chinook.db")

cur = con.cursor()

# The result of a "cursor.execute" can be iterated over by row
#for row in cur.execute('SELECT * FROM Census_Data;'):
    #print(row)
  

# Be sure to close the connection
con.close()

In [2]:
!pip install sqlalchemy==2.0
!pip install ibm_db_sa
!pip install ipython-sql

Requirement already satisfied: sqlalchemy==2.0 in c:\users\purvi\anaconda3\lib\site-packages (2.0.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\purvi\anaconda3\lib\site-packages (from sqlalchemy==2.0) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\purvi\anaconda3\lib\site-packages (from sqlalchemy==2.0) (2.0.1)
Requirement already satisfied: ibm_db_sa in c:\users\purvi\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: sqlalchemy>=0.7.3 in c:\users\purvi\anaconda3\lib\site-packages (from ibm_db_sa) (2.0.0)
Requirement already satisfied: ibm-db>=2.0.0 in c:\users\purvi\anaconda3\lib\site-packages (from ibm_db_sa) (3.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\purvi\anaconda3\lib\site-packages (from sqlalchemy>=0.7.3->ibm_db_sa) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\purvi\anaconda3\lib\site-packages (from sqlalchemy>=0.7.3->ibm_db_sa) (2.0.1)
Requirement already satisfied: ipython-sql in c:\users\purvi\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\purvi\anaconda3\lib\site-packages (from ipython-sql) (3.9.0)
Requirement already satisfied: ipython in c:\users\purvi\anaconda3\lib\site-packages (from ipython-sql) (8.15.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\purvi\anaconda3\lib\site-packages (from ipython-sql) (2.0.0)
Requirement already satisfied: sqlparse in c:\users\purvi\anaconda3\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in c:\users\purvi\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\purvi\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\purvi\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\purvi\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: backcall in c:\users\purvi\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\purvi\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\purvi\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\purvi\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\purvi\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\purvi\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\purvi\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\purvi\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\purvi\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\users\purvi\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\purvi\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\purvi\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\purvi\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\purvi\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\purvi\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [5]:
%reload_ext sql  
%sql sqlite:///chinook.db

In [8]:
%sql SELECT name FROM sqlite_master WHERE type='table'

 * sqlite:///chinook.db
Done.

[('Movies',),
 ('Chicago_Public_Schools',),
 ('Chicago_Crime_Data',),
 ('Census_Data',),
 ('Fam',)]

# Problem 1: Find the total number of crimes recorded in the CRIME table.

In [80]:
%%sql
select count(*) as number_of_crime from Chicago_Crime_Data

 * sqlite:///chinook.db
Done.

[(533,)]

# Problem 2: List community areas with per capita income less than 11000.

In [81]:
%%sql

select COMMUNITY_AREA_NAME, PER_CAPITA_INCOME from Census_Data where PER_CAPITA_INCOME < 11000

 * sqlite:///chinook.db
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

# Problem 3: List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)

In [82]:
%sql select CASE_NUMBER from Chicago_Crime_Data where Primary_Type = 'OFFENSE INVOLVING CHILDREN'

 * sqlite:///chinook.db
Done.

[('HN567387',), ('HR391350',), ('HM768251',), ('HT394616',)]

# Problem 4: List all kidnapping crimes involving a child?

In [83]:
%sql Select Primary_Type from Chicago_Crime_Data where Primary_Type = 'KIDNAPPING' and Description like '%CHILD%'

 * sqlite:///chinook.db
Done.

[('KIDNAPPING',)]

# Problem 5: What kind of crimes were recorded at schools?

In [116]:

%sql select DISTINCT(Primary_Type) from Chicago_Crime_Data where Location_Description like '%SCHOOL%'

 * sqlite:///chinook.db
Done.

[('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('ASSAULT',),
 ('CRIMINAL TRESPASS',),
 ('PUBLIC PEACE VIOLATION',)]

# Problem 6: List the average safety score for all types of schools.

In [115]:
%%sql
select ElementaryMiddleorHighSchool, avg(Safety_Score) as avg_safety_score from Chicago_Public_Schools 
group by ElementaryMiddleorHighSchool

 * sqlite:///chinook.db
Done.

[('ES', 49.52038369304557), ('HS', 49.62352941176471), ('MS', 48.0)]

# Problem 7: List 5 community areas with highest % of households below poverty line.

In [114]:
%%sql 
select COMMUNITY_AREA_NAME,PERCENTHOUSEHOLDSBELOWPOVERTY from Census_Data order by PERCENTHOUSEHOLDSBELOWPOVERTY desc limit 5

 * sqlite:///chinook.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

# Problem 8: Which community area(number) is most crime prone?

In [113]:
%%sql 

select COMMUNITY_AREA_NUMBER, count(*) as Number_of_crimes from Chicago_Crime_Data 
       group by COMMUNITY_AREA_NUMBER order by Number_of_crimes desc limit 1

 * sqlite:///chinook.db
Done.

[(25, 43)]

# Problem 9: Use a sub-query to find the name of the community area with highest hardship index.

In [117]:
%%sql select COMMUNITY_AREA_NAME,HARDSHIP_INDEX from Census_Data 
where HARDSHIP_INDEX = (select max(HARDSHIP_INDEX) from Census_Data)

 * sqlite:///chinook.db
Done.

[('Riverdale', 98)]

# Problem 10: Use a sub-query to determine the Community Area Name with most number of crimes?

In [112]:
%%sql
SELECT community_area_name FROM CENSUS_DATA 
WHERE COMMUNITY_AREA_NUMBER = (SELECT COMMUNITY_AREA_NUMBER FROM CHICAGO_CRIME_DATA
    GROUP BY COMMUNITY_AREA_NUMBER
    ORDER BY COUNT(COMMUNITY_AREA_NUMBER) DESC
    LIMIT 1)
LIMIT 1;

 * sqlite:///chinook.db
Done.

[('Austin',)]